{% extends "index/base.html" %}
{% load url from future %}

{% block title %} 图片黑名单查询 {% endblock %}

{% block style %}
	<link type="text/css" href="{{ STATIC_URL }}css/blacklist.css" rel="stylesheet">
{% endblock %}

{% block script %}
	<script src="{{ STATIC_URL }}js/blacklist.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	{% include "index/navbar.html" %}
	<legend>
		图片黑名单查询
	</legend>
	<div class="input-group">
		<span class="input-group-addon">URL</span>
		<input type="text" class="form-control" id="url-input" placeholder="请输入URL"></input>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" id="bl-search">查询</button>
		</span>
	</div>
	<span class="message"></span>
{% endblock %}


