{% extends "index/base.html" %}
{% load url from future %}

{% block title %} 图片umis封禁force生效工具 {% endblock %}

{% block style %}
  <link type="text/css" href="{{ STATIC_URL }}css/umis-force.css" rel="stylesheet">
{% endblock %}

{% block script %}
  <script src="{{ STATIC_URL }}js/umis-force.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
  {% include "index/navbar.html" %}
  <legend>
    图片umis封禁生效工具
  </legend>
  <div class="col-md-9">
    <div class="alert alert-info" role="alert">
      注意: <br/>
      1. 由于umis封禁和query黑名单文件封禁之间不能完全同步的bug，导致umis封禁生效后2个小时内又可能会失效（之后会永久生效），本工具用于临时解决问题调试使用。<br/>
      2. 本工具的作用是强制图片封禁生效，执行后forceQuery可以看到结果。<br/>
      3. 这里不具有永久存储的功能，还需要在umis名单里面添加。<br/>
    </div>
    <div class="input-group">
      <div class="input-group-addon">封禁/解封</div>
      <select class="form-control" id="isforbid">
        <option value="forbid">封禁</option>
        <option value="unforbid">解封</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-addon">封禁类型</div>
      <select class="form-control" id="type-input">
        <option>url</option>
        <option>site</option>
        <option>domain</option>
        <option>mfid</option>
        <option>picfilter1</option>
        <option>openid</option>
        <option>docid</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-addon">输入数据</div>
      <input type="text" class="form-control" id="data-input" placeholder=""></textarea>
    </div>
    <button class="btn btn-default" type="button" id="send2query">立即生效</button>
    <div class="alert" id="message" role="alert"></div>
    <div class="modal">
  </div>
{% endblock %}
