{% extends "index/base.html" %}
{% load url from future %}

{% block title %} 图片数据积累工具 {% endblock %}

{% block style %}
	<link type="text/css" href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {% include "index/navbar.html" %}
  <div class="row">
	<div class="col-md-3 link-block">
		<legend>
			<small>抓取工具</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.11.215.156/picfast/index.html" target="_blank">图片快速更新</a></li>
			<li><a href="http://10.12.8.170/getpage2.html" target="_blank">页面抓取</a></li>
			<li><a href="http://10.134.71.142:8080/pic/send2pup.php" target="_blank">Send2PUP工具</a></li>
            <li> </li>
            <li> </li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>数据查询</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.136.127.182/index.php/ShowPicurlInfo256/showSearchPicurlInfo" target="_blank">picURLlib查询</a></li>
			<li><a href="http://10.134.71.142:8080/pic/readhbase.php" target="_blank">pic.norm.hbase查询</a></li>
			<li><a href="http://10.11.206.177/magic/" target="_blank">magic查询(临时搭建)</a></li>
            <li><a href="{% url 'tool:groupnews' %}" target="_blank">新闻组图查询/入库</a></li>
            <li><a href="{% url 'show:sitedl' %}" target="_blank">图片站点信息查询</a></li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>线上服务查询</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.12.131.157:8080/SendRequest/pic/index.jsp" target="_blank">cache/vr/qc/hint/hot调试</a></li>
            <li><a href="http://10.134.71.142:8080/pic/readdocinfo.php" target="_blank">线上docinfo查询</a></li>
			<li><a href="{% url 'tool:vr-forcequery' %}" target="_blank">图片vr forceQuery</a></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>其他工具</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.11.215.156/calculatemf/index.php" target="_blank">mf值计算</a></li>
			<li><a href="{% url 'tool:urlbase64' %}" target="_blank">redirect链接转换</a></li>
            <li><a href="{% url 'search:docid2url' %}" target="_blank">url和docid批量转换</a></li>
            <li><a href="http://www.facaicai.com/" target="_blank">各搜索引擎结果对比</a></li>
            <li>&nbsp;</li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>黑名单相关</small>
		</legend>
		<ul class="link">
			<li><a href="{% url 'search:blacklist' %}" target="_blank">黑名单查询</a></li>
			<li><a href="http://umis.op.sogou-inc.com/index.jsp" target="_blank">umis系统</a></li>
			<li><a href="{% url 'search:umis-force' %}" target="_blank">umis强制生效</a></li>
			<li><a href="http://10.10.122.1/blacklist/" target="_blank">网页黑名单查询</a></li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>平台入口</small>
		</legend>
		<ul class="link">
			<li><a href="http://console01.dragon.hadoop.nm.sogou-op.org:50030/jobtracker.jsp" target="_blank">Dragon Jobtracker</a></li>
			<li><a href="http://10.141.75.96:23188/cluster" target="_blank">晨曦 Jobtracker</a></li>
			<li><a href="http://cloud101417594.wd.nm.ss.nop.sogou-op.org:19888/jobhistory/" target="_blank">晨曦 Job History</a></li>
			<li><a href="http://xwiki.sogou-inc.com/xwiki/bin/view/VS_Department/%E5%9B%BE%E7%89%87%E6%90%9C%E7%B4%A2" target="_blank">图片搜索xwiki</a></li>
			<li><a href="http://10.14.135.175/SpiderServiceStat/login.html" target="_blank">Spider奥德赛系统</a></li>
            <li><a href="http://vs.sogou-inc.com/stats/" target="_blank">垂搜绿皮</a></li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>快速跳转</small>
		</legend>
		<ul class="link">
			<li><a href="http://xwiki.sogou-inc.com/xwiki/bin/view/VS_Department/%E5%9B%BE%E7%89%87%E7%B4%A2%E5%BC%95%E5%A4%B1%E8%B4%A5%E5%8E%9F%E5%9B%A0%E5%90%84%E5%AD%97%E6%AE%B5%E5%90%AB%E4%B9%89" target="_blank">图片索引失败原因解释</a></li>
		</ul>
	</div>
  </div>
{% endblock %}
