<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>购物cache</title>
  </head>
  <body>
    <form action="cachepost" method="post">
      <table>
        <tr>
          <td>queryType:</td>
          <td>
            <select type="text" name="queryType" style="width: 280px">
              <option value="query">query</option>
              <option value="urllookup">urllookup</option>
            </select>
          </td>
        </tr>
        <tr><td>queryString:</td><td><input type="text" name="queryString" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>parity:</td><td><input type="text" name="parity" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>dump:</td><td><input type="text" name="dump" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>userIP:</td><td><input type="text" name="userIP" style="width: 280px" maxlength="2048"></td></tr>
        <tr><td>hash:</td><td><input type="text" name="hash" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>forceQuery:</td><td><input type="text" name="forceQuery" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>queryFrom:</td><td><input type="text" name="queryFrom" style="width: 280px" maxlength="1000"></td><td>usage_type,4,@groupby desc</td></tr>

        <tr><td>rankType:</td><td><input type="text" name="rankType" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>debug:</td><td><input type="text" name="debug" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>forceQueryWithoutSave:</td><td><input type="text" name="forceQueryWithoutSave" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>logLevel:</td><td><input type="text" name="logLevel" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>start:</td><td><input type="text" name="start" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>docList:</td><td><input type="text" name="docList" style="width: 280px" maxlength="1000"></td></tr>
        <tr><td>end:</td><td><input type="text" name="end" style="width: 280px" maxlength="1000"></td></tr>

        <tr><td>webcache服务器:</td>
          <td><select type="text" name="host" style="width: 280px">
              <option value="10.134.35.82:29000">[郭增新-test]10.134.35.82:29000</option>
              <option value="cache01.shop.djt:28001">cache01.shop.djt:28001</option>
              <option value="cache02.shop.djt:28001">cache02.shop.djt:28001</option>
              <option value="cache03.shop.djt:28001">cache03.shop.djt:28001</option>
              <option value="cache04.shop.djt:28001">cache04.shop.djt:28001</option>
              <option value="cache05.shop.djt:28001">cache05.shop.djt:28001</option>
              <option value="cache06.shop.djt:28001">cache06.shop.djt:28001</option>
              <option value="cache07.shop.djt:28001">cache07.shop.djt:28001</option>
              <option value="cache08.shop.djt:28001">cache08.shop.djt:28001</option>
              <option value="cache09.shop.djt:28001">cache09.shop.djt:28001</option>
              <option value="cache10.shop.djt:28001">cache10.shop.djt:28001</option>
              <option value="cache11.shop.djt:28001">cache11.shop.djt:28001</option>
              <option value="cache12.shop.djt:28001">cache12.shop.djt:28001</option>
              <option value="cache13.shop.djt:28001">cache13.shop.djt:28001</option>
              <option value="cache14.shop.djt:28001">cache14.shop.djt:28001</option>
              <option value="cache15.shop.djt:28001">cache15.shop.djt:28001</option>
              <option value="cache16.shop.djt:28001">cache16.shop.djt:28001</option>
              <option value="cache17.shop.djt:28001">cache17.shop.djt:28001</option>
              <option value="cache18.shop.djt:28001">cache18.shop.djt:28001</option>
              <option value="cache19.shop.djt:28001">cache19.shop.djt:28001</option>
              <option value="cache20.shop.djt:28001">cache20.shop.djt:28001</option>
              <option value="cache01.shop.sjs:28001">cache01.shop.sjs:28001</option>
              <option value="cache02.shop.sjs:28001">cache02.shop.sjs:28001</option>
              <option value="cache03.shop.sjs:28001">cache03.shop.sjs:28001</option>
              <option value="cache04.shop.sjs:28001">cache04.shop.sjs:28001</option>
              <option value="cache05.shop.sjs:28001">cache05.shop.sjs:28001</option>
              <option value="cache06.shop.sjs:28001">cache06.shop.sjs:28001</option>
              <option value="cache07.shop.sjs:28001">cache07.shop.sjs:28001</option>
              <option value="cache08.shop.sjs:28001">cache08.shop.sjs:28001</option>
              <option value="cache09.shop.sjs:28001">cache09.shop.sjs:28001</option>
              <option value="cache10.shop.sjs:28001">cache10.shop.sjs:28001</option>
              <option value="cache11.shop.sjs:28001">cache11.shop.sjs:28001</option>
              <option value="cache12.shop.sjs:28001">cache12.shop.sjs:28001</option>
              <option value="cache13.shop.sjs:28001">cache13.shop.sjs:28001</option>
              <option value="cache14.shop.sjs:28001">cache14.shop.sjs:28001</option>
              <option value="cache15.shop.sjs:28001">cache15.shop.sjs:28001</option>
              <option value="cache16.shop.sjs:28001">cache16.shop.sjs:28001</option>
              <option value="cache17.shop.sjs:28001">cache17.shop.sjs:28001</option>
              <option value="cache18.shop.sjs:28001">cache18.shop.sjs:28001</option>
              <option value="cache19.shop.sjs:28001">cache19.shop.sjs:28001</option>
              <option value="cache20.shop.sjs:28001">cache20.shop.sjs:28001</option>
            </select>
          </td><td><input type="submit" value="发送" style="width: 100px"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
