{% extends "shop/base.html" %}
{% load url from future %}

{% block title %} 购物常用链接 {% endblock %}

{% block style %}
	<link type="text/css" href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {% include "shop/navbar.html" %}
  <div class="row">
	<div class="col-md-3 link-block">
		<legend>
			<small>数据查询</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.12.137.218:8989/edit_offsum" target="_blank">magic-offsum</a></li>
			<li><a href="http://10.12.137.218:8989/view_onsum" target="_blank">magic-onsum</a></li>
			<li><a href="http://10.12.137.218:8989/view_price_verify" target="_blank">price-daemon</a></li>
            <li><a href="http://10.11.215.156/readdocinfo/index.php" target="_blank">线上docinfo查询</a></li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>调试工具</small>
		</legend>
		<ul class="link">
          <li><a href="{% url 'shop:cache' %}" target="_blank">cache调试</a></li>
          <li><a href="{% url 'shop:searchhub' %}" target="_blank">searchhub调试</a></li>
          <li><a href="{% url 'shop:sqo' %}" target="_blank">sqo调试</a></li>
          <li><a href="http://zstat1.dev.ctc.wd.ss.nop.vm.sogou-op.org/vrana/?query=%D5%D4%C0%F6%D3%B1&type=online" target="_blank">网页VR调试接口</a></li>
          <!-- <li><a href="http://10.11.197.189/platform/shopindex.html" target="_blank">resin调试平台</a></li> -->
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>其他工具</small>
		</legend>
		<ul class="link">
			<li><a href="{% url 'shop:shopvr-forcequery' %}" target="_blank">购物vr forceQuery</a></li>
			<li><a href="http://10.134.60.172/u/inc/encode_decode.html" target="_blank">url编解码</a></li>
            <li><a href="{% url 'search:docid2url' %}" target="_blank">url和docid批量转换</a></li>
            <li><a href="http://zhushou.gouwu.sogou.com/tools/d.jsp" target="_blank">搜狗发现开关工具</a></li>
		</ul>
	</div>
	<div class="col-md-3 link-block">
		<legend>
			<small>平台入口</small>
		</legend>
		<ul class="link">
			<li><a href="http://10.12.137.218:8989/" target="_blank">shopping-tools</a></li>
			<li><a href="http://10.136.48.132" target="_blank">搜狗发现工具平台</a></li>
			<li><a href="http://10.16.128.179:50030/jobtracker.jsp" target="_blank">狼群Jobtracker</a></li>
			<li><a href="http://10.141.75.96:23188/cluster" target="_blank">晨曦 Jobtracker</a></li>
			<li><a href="http://cloud101417594.wd.nm.ss.nop.sogou-op.org:19888/jobhistory/" target="_blank">晨曦 Job History</a></li>
			<li><a href="http://xwiki.sogou-inc.com/xwiki/bin/view/VS_Department/%E8%B4%AD%E7%89%A9%E6%90%9C%E7%B4%A2" target="_blank">购物搜索xwiki</a></li>
            <li><a href="http://vs.sogou-inc.com/stats/" target="_blank">垂搜绿皮</a></li>
            <li><a href="http://dev.sogou-inc.com/stats/index.php" target="_blank">网页绿皮</a></li>
		</ul>
	</div>
  </div>
{% endblock %}
