div.input-group {
  width: 100%;
}

button.btn-search {
  clear: both;
  margin-top: 10px;
}

.message {
  clear: both;
  margin-top : 20px;
  margin-left: 10px;
}

.message dl dt {
  width: 100px;
}

.message dl dd {
  margin-left: 120px;
}
